.section01{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;
}
.card-body{
  width: 200px;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}
.card-body img{
    width: 100%;
}
.card-body button{
    width: 100%;
    margin-top: 10px;
    border-radius:5px;
    border: #ffff solid 3px;
    padding: 10px;
    font-size: 20px;
    color: white;   
    background-color: #4CAF50;
    cursor: pointer;


}
.card-body button:hover{
    border: rgb(36, 11, 148)  solid 3px;
    color: rgb(36, 11, 148); 
}
.form{
     color: #ffff;
    height: 100vh;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px; 
  
    
}
.form form{
    background-color:#1967b1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 350px;
    padding: 50px;
}
 form input{
    width: 250px;
 }
 form input[type="submit"]{
    background-color:#4a9be7;
    border: NONE;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
form input[type="submit"]:hover{
    background-color:#023f79;
    border: NONE;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
form img{
    width: 100%;
    max-width: 120px;
}